<div class="container">
<div class="content">
<div class="page-header" style="margin-top:15%;">
<%= link_to root_path do %>
<h1>Glitch Converter について</h1>
<% end %>
</div>

<div class="description">
<p>Glitch Converter は画像を壊して綺麗にするWebサービスです。</p>
老朽化等による写真破壊の再現を目指しています。<br />
思い出の写真を壊して、過ぎた時間に思いを馳せてみましょう。<br />
壊れた画像はブラウザによって見え方が変わって楽しいのですが、<br />
Chromeが一番表示出来て美しく、Operaは壊れた画像が見えない場合多いです。<br />
Internet Explorerだとそもそも普通のHTMLが崩れるみたいでダメそうです。<a href="http://www.google.co.jp/chrome/" target="_blank">Chrome</a>を使いましょう。<br />
アップロードされた画像は表示のため機械的に一時保存していますが、すぐに破棄しています。気軽にご利用ください。<br />
<br />
<br />
開発: <a href="http://twitter.com/9m" target="_blank">@9m</a><br />
開設: 2011/10/12<br />
Mail: kkosuge@about.me<br />
<br />
<a href="/" alt="top" class="back">Glitch Converter Top</a><br />
</div>

<div class="logos">
<p>Special Thanks的な</p>
<ul>
<li><a href="http://rubyonrails.org" target="_blank" alt="rails"><%= image_tag 'rails.png' %></a></li>
<li><a href="http://unicorn.bogomips.org" target="_blank" alt="unicorn"><%= image_tag 'unicorn.png' %></a></li>
<li><a href="http://www.w3.org" target="_blank" alt="html5"><%= image_tag 'html5.png' %></a></li>
<li><a href="http://www.mysql.com" target="_blank" alt="mysql"><%= image_tag 'mysql.png' %></a></li>
<li><a href="http://www.ubuntu.com" target="_blank" alt="ubuntu"><%= image_tag 'ubuntu.png' %></a></li>
<li><a href="http://twitter.github.com/bootstrap/" target="_blank" alt="twitter bootstrap"><%= image_tag 'twitter.png' %></a><br />
    <a href="http://nginx.org" target="_blank" alt="nginx"><%= image_tag 'nginx.png' %></a></li>
</ul>
</div>

</div>
</div>

<footer class="footer">
  <div class="container">
    <p class="pull-right">
    <a href="/" alt="top">Glitch Converter Top</a>
    </p>
    <p>
    <ul>
      <li><g:plusone expr:href='data:post.url' size='medium' annotation="none"/></li>
      <li><a href="http://b.hatena.ne.jp/entry/http://glitch-converter.kksg.net/" class="hatena-bookmark-button" data-hatena-bookmark-title="Glitch Converter" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
    </ul>
    </p>
  </div>
</footer>
