<div class="container">
<div class="content">
<div class="page-header">
<%= link_to root_path do %>
<h1>Glitch Converter <small>  png, jpg, gif, bmp, webp </small></h2>
<% end %>
</div>

  <%= form_for @resource, :url => root_path, :multipart => true do |f| %>
    <%= f.error_messages %>
    <div class="resource well">
    <span class="h2 or">URL </span>
      <%= f.text_field :url , :value => params[:url].presence, :class=>"span5" %>
    <span class="h2 or"> or </span>
      <%= f.file_field :file %>
      <%= f.submit "Glitch!", :class=>"danger btn doit" %>
    </div>
  <% end %>

  <div class="resource">
  <% if @sample %>
  <a href="<%= @sample[:link] %>" target="_blank" rel="popover" title="<%= @sample[:title] %>">
    <img src="<%= "#{resource_path}?#{Time.now.to_i.to_s}" %>" alt="resource" /> 
  </a>
  <script>
    $(function () {
      $("a[rel=popover]")
        .popover({
           offset: 10
         })
    })
  </script>
  <% else %>
    <img src="<%= "#{resource_path}?#{Time.now.to_i.to_s}" %>" alt="resource" /> 
  <% end %>
  </div>
  
  <div class="glitch">
  <ul class="media-grid solution">
  <% 16.times do %>
    <% x, y = rand(10), rand64 %>
    <li>
    <%=link_to glitch_path(:x => x, :y => y), :target => "_blank" do %>
      <%= image_tag glitch_path(:x => x, :y => y) , :class => "thumbnail" %>
    <% end %>
    </li>
  <% end %>
  </ul>
  </div>
</div>
</div>
