<div class="container">
<div class="content">
<div class="page-header">
<%= link_to root_path do %>
<h1>Glitch Converter <small>  png, jpg, gif, bmp, webp </small></h1>
<% end %>
</div>

  <%= form_for @resource, :url => root_path, :multipart => true do |f| %>
    <%= f.error_messages %>
    <div class="resource well">
    <span class="h2 or">URL </span>
      <%= f.text_field :url , :value => params[:url].presence, :class=>"span5" %>
    <span class="h2 or"> or </span>
      <%= f.file_field :file %>
      <%= f.submit "Glitch!", :class=>"danger btn doit" %>
    </div>
  <% end %>

  <div class="resource">
  <% if @sample %>
  <a href="<%= @sample[:link] %>" target="_blank" rel="popover" title="<%= @sample[:title] %>">
    <img src="<%= "#{resource_path}?#{Time.now.to_i.to_s}" %>" alt="resource" /> 
  </a>
  <script>
    $(function () {
      $("a[rel=popover]")
        .popover({
           offset: 10
         })
    })
  </script>
  <% else %>
    <img src="<%= "#{resource_path}?#{Time.now.to_i.to_s}" %>" alt="resource" /> 
  <% end %>
  </div>
  
  <div class="glitch">
  <ul class="media-grid solution">
  <% 16.times do %>
    <% x, y = rand(10), rand64 %>
    <li>
    <%=link_to glitch_path(:x => x, :y => y), :target => "_blank" do %>
      <%= image_tag glitch_path(:x => x, :y => y) , :class => "thumbnail" %>
    <% end %>
    </li>
  <% end %>
  </ul>
  </div>
</div>
</div>

<footer class="footer">
  <div class="container">
    <p class="pull-right">
    <a href="/about" alt="このサイトについて">このサイトについて</a>
    </p>
    <p>
    <ul>
      <li><g:plusone expr:href='data:post.url' size='medium' annotation="none"/></li>
      <li><a href="http://b.hatena.ne.jp/entry/http://glitch-converter.kksg.net/" class="hatena-bookmark-button" data-hatena-bookmark-title="Glitch Converter" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
    </ul>
    </p>
  </div>
</footer>
